/*Social Media Icons*/
p.social-media {
	text-align: center;
}

.fa {
	padding: 10px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
	color: white;
}

.fa-facebook {
	background: #3b5998;
	color: white;
}

.fa-twitter {
	background: #55acee;
	color: white;
}

.fa-instagram {
	color: white;
	background:
	/*
	Use radial gradients to get the rounded
	gradient effect in each corner
	  
	left bottom */
	radial-gradient(
		circle farthest-corner at 35% 90%,
		#fec564,
		transparent 50%
	),
	radial-gradient(
		circle farthest-corner at 0 140%,
		#fec564,
		transparent 50%
	),
	/*left top*/
	radial-gradient(
		ellipse farthest-corner at 0 -25%,
		#5258cf,
		transparent 50%
	),
	radial-gradient(
		ellipse farthest-corner at 20% -50%,
		#5258cf,
		transparent 50%
	),
	/* right top */
	radial-gradient(
		ellipse farthest-corner at 100% 0,
		#893dc2,
		transparent 50%
	),
	radial-gradient(
		ellipse farthest-corner at 60% -20%,
		#893dc2,
		transparent 50%
	),
	/* right bottom */
	radial-gradient(
		ellipse farthest-corner at 100% 100%,
		#d9317a,
		transparent
	),
	/* 
	create a base coat to smooth
	corner gradients */
	linear-gradient(
		#6559ca,
		#bc318f 30%,
		#e33f5f 50%,
		#f77638 70%,
		#fec66d 100%
	);
	position: relative;
	/*
	border-radius: 0.2em;
	font-size: $size;

	&:before,
	&:after {
		color: #fff;
		content: "";
		display: block;
		position: absolute;
		border: 0.075em solid;
	}

	&:before {
		border-radius: inherit;
		height: 0.75em;
		transform: translate(0.125em, 0.125em);
		width: 0.75em;
	}

	&:after {
		border-radius: 1em;
		box-shadow: 0.2em -0.2em 0 -0.16em;
		height: 0.4em;
		transform: translate(0.3em, 0.3em);
		width: 0.4em;
	}*/
}

/*Images*/
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
/*Scroll to Top Button
#myBtn {
	background-color: #154854;
	display: none;
	position: fixed;
	z-index: 99;
	border: none;
	outline: none;
	color: white;
	padding: 0px 8px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.6rem;
  }

  #myBtn:hover {
	background-color: #f8f9fa;
	color: #154854;

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.icon {
	border-radius: 50%;
}
#logo {
	width: 3rem;
	padding-right: 0.5rem;
}
.navbar {
	transition: all 0.4s;
	background: #154854;
}

.navbar .nav-link {
	color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
	color: #fff;
	text-decoration: none;
}

.navbar .navbar-brand {
	color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
	background: #154854;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
	color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
	color: #fff;
	text-decoration: none;
}

.navbar.active .navbar-brand {
	color: #fff;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
	.navbar {
		background: #fff;
	}

	.navbar .navbar-brand,
	.navbar .nav-link {
		color: #555;
	}
	.carousel{
		margin-top: 102px;
	}
}

body {
	padding-bottom: 3rem;
	color: #5a5a5a;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
	height: 40vw;
}
.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: auto;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}
.marketing h2 {
	font-weight: 400;
}
.marketing .col-lg-4 p {
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}

/* Featurettes
  ------------------------- */

.featurette-divider {
	margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}
}

@media (min-width: 62em) {
	.featurette-heading {
		margin-top: 7rem;
	}
}
